body{
    background-image: url(images_shop/background1.jpg);
    text-align: center;
}
#content{
    margin: 3rem;
}

.store_card{
    width: 100%;
    background-color:thistle;
    position: relative;
}
.store_item_hover_img, .store_item_img{
    width: 400px;
    border: 1px solid grey;
    border-radius: 1.5rem;
}
.store_item_hover_img, #image:hover .store_item_img{
    display: none;
}
.store_item_img, #image:hover .store_item_hover_img{
    display: block;
}
#image:hover .store_card{
    opacity: 0.7;
}
.cart_img_card {
    height: 25px !important;
}
.addCartHomeView{
    border-bottom: 0.5rem;
}
.btn_buy{
    margin-bottom: 0.5rem;
    background-color: lightgrey;
}
.indiName{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
/* .indiInfo{
    padding-left: 5%;
    padding-right: 5%;
} */
.store_item_name{
    padding-top: 0.4rem;
    font-size: larger;
    font-weight: 500;
}
.store_item_price{
    padding-bottom: 0.5rem;
}
#store_container{
    width: 90%;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    gap: 2rem;
}
#selection{ 
    display: flex;
}
#nav{
    position: sticky;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex; 
    background-image: linear-gradient(to left, pink, lightpink, plum, thistle);
}
.addCartIndiView{
    height: 200px!important;
    padding-top: 5rem!important;
}
.indiImgCycle>img{
    border: 1px solid grey;
    border-radius: 2rem!important;
}
.addCartIndiView>button{
    height: 100px;
    background-image: linear-gradient(to right, pink, lightpink, plum, thistle);
}
.addCartIndiView>button>img{
    width: 100px;
    height: auto!important;
}
.cart_top{
    vertical-align: middle;
    display: inline;
}
.cart_top>span{
    font-size: larger;
}
.search{
    padding: 8px;
    width: 100%;
    display: inline-flex;
    margin-right: 5%;
    font-weight: bold;
    height: 4rem;
}
#search{
    width: 30rem;
    margin-left: 10%;
}
#search::placeholder{
    color: plum;
}
#cart_img{
    height: 30px;
    margin-top:1rem;
    margin-right: 0.5rem;
}
tr:nth-child(even){
    background-image: linear-gradient(to right, pink, lightpink, plum, thistle);
}
#site_name{
    font-size: larger;
    color: white;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.gap{
    width: 2rem
}
.store_card{
    border: 2px solid grey;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 grey;
}

.trans-bg{ /* useless since i deleted the element (caused failure and i was too lazy to fix */
    background-image: linear-gradient(to top, pink, lightpink, plum, thistle);
    border-radius: 2rem;
    text-align: center;
    align-items: center;
    align-content: center;
    float:center;
    justify-content: center;
}

.indiImgCycle{
    display: none;
}

.container_indi{
    position: relative;
    width: 900px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    display: inline-block;
}

.col {
    display: block;
    opacity: 0.6;
    height: 10em;
    object-fit: contain;
    width: 100%;
}

.active, .col:hover {
    opacity: 1;
}

.row{
    box-sizing: inherit;
}
.colors{
    width: 3000px;
}

.indiPrice{
    font-size: x-large;
    font-weight: bold;
}
.newRow{
    width: 100%;
}
table{
    width: 100%;
}
.cartItemImage>img{
    width: 300px;
}
.cartItemBreed, .cartItemAmountCurrent, .cartItemCostOne, .cartItemCostTot{
    font-size: larger;
    font-weight: 400;

}
#finalpriceinner{
    font-size: larger;
}