body{
    background-image: "images_shop/background1.png";
    text-align: center;
}
#content{
}
.store_item{
}
.store_item_name{

}
.store_card{
    width: 100%;
}
#store_container{
    text-align: center;
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    gap: 2rem;
}
#selection{ 
    display: flex;
}
#nav{
    position: sticky;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex; 
    background-image: linear-gradient(to left, pink, lightpink, plum, thistle);
}
#cart_image{
    height: 100px
}
#search{
    padding: 8px;
    width: 100%;
    display: flex;
}
#search::placeholder{
    color: plum;
}